*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: hidden;
    background: black;
}



#nav {
    /* position: absolute; */
    /* z-index: 5; */
    width: 100%;
    position: fixed;
    bottom: 0;
    /* border: 1px solid blue; */
    /* background: white; */  
}

.tablet_nav_list {
    display: flex;
    list-style-type: none;
    /* background-color: white; */
    padding: 1em;
    /* align-items: center; */
    justify-content: center;
}

.tablet_nav_list li a {
    text-decoration: none;
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    margin-left: 2em;
    border-radius: 5%;
}

  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


.despair-message {
    visibility: visible;
    color: white;
}

/* TABLET */
@media only screen and (min-width: 768px) {

    .despair-message {
        visibility: hidden;
        display: none;
    }

    body {
        visibility: visible;
        background: linear-gradient(162deg, rgba(127,123,130,1) 11%, rgba(184,57,52,1) 35%, rgba(142,106,109,1) 60%, rgba(196,43,35,1) 76%, rgba(145,102,104,1) 82%, rgba(147,25,24,1) 100%);
        height: 100%;
        position: relative;
        background-repeat: no-repeat;
    }

    .drawing {
        display: flex;
        flex-direction: column;
        background-image: url("/images/backgrounds/danganronpa-floor.jpg");
        background-size: 50%;
        padding: 1em;
        margin-bottom: 1em;
        box-shadow: 0px 8px 5px 0px rgba(39, 39, 39, 0.5); 
          
    }

    .top_drawing {
        display: flex;
    }

    .name_pic {
        border: 5px solid green;
        margin-top: 1em;
        height: 70px;
        width: 300px;
        background-color:rgba(39, 39, 39, 0.8);
        color: white;
    }

    #canvas {
        border: 2px solid black;
        margin-top: 0.5em; 
        background-image: url("/images/hope-peak-academy.png");
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 12px -8px 1px 2px rgba(109, 19, 19, 0.5);    
    }

    .controls {
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        margin-left: 1em;
        gap: 2em;
        border: 2px solid orange;
    }

    .undo-redo {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0.5em;
        margin: 10px;
    }

    .horizontal_rule{
        border: 5px solid #4b0d0d;
        width: 80%;
        margin: auto;
        
    }

    .gallery {
        display: grid;
        background: gray;
        grid-template-columns: repeat(4, auto);
        gap: 0.5em;
        /* border: 3px solid green; */
        margin-top: 10px;
        position: relative;
        padding: 1em;
        box-shadow: 0px 8px 5px 0px rgba(39, 39, 39, 0.5);    
    }

    .gallery:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/hope-peak-academy.png");
        background-size: 250px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .22;
        
    }

    .image {
        border: 3px solid pink;
        margin: 5px;
        padding: 8px;
        position: relative
    }

    /* Similar to highlight for desktop */
    .image:hover {
        border: 3px solid #f000c3;
        box-shadow: 8px 5px 10px gray;
    }

    .image ~ p {
        display: none;
    }

    .reset {
        margin-left: 50%;
        margin-top: 3em;
       
        position: relative;  
    }
}

/* DESKTOP */
@media only screen and (min-width: 1260px) {

    .nav_bar li a:hover {
        background-color: #555;
        color: white;
    }

    .image:hover {
        border: 3px solid #f000c3;
        box-shadow: 8px 5px 10px black;
    }
    
    .highlight {
        border: 3px solid #f000c3;
    }
}