/* DANGANRONPA NAMES FONT */
@font-face {
    font-family: 'DorBlue';
    src: url('../fonts/DorBlue.eot');
    src: url('../fonts/DorBlue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DorBlue.svg#DorBlue') format('svg'),
         url('../fonts/DorBlue.ttf') format('truetype'),
         url('../fonts/DorBlue.woff') format('woff'),
         url('../fonts/DorBlue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

/* DANGANRONPA DIALOGUE FONT */
@font-face {
    font-family: 'trebuc';
    src: url('../fonts/trebuc.eot');
    src: url('../fonts/trebuc.eot') format('embedded-opentype'),
         url('../fonts/trebuc.woff2') format('woff2'),
         url('../fonts/trebuc.woff') format('woff'),
         url('../fonts/trebuc.ttf') format('truetype'),
         url('../fonts/trebuc.svg#trebuc') format('svg');
}

/* DANGANRONPA "PAINTING" FONT */
@font-face {
    font-family: 'GillSansMT-Condensed';
    src: url('../fonts/GillSansMT-Condensed.svg#GillSansMT-Condensed') format('svg'),
         url('../fonts/GillSansMT-Condensed.ttf') format('truetype'),
         url('../fonts/GillSansMT-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: '../fonts/gills-sans.TTF';
    src: url('../fonts/gills-sans.TTF.eot');
    src: url('../fonts/gills-sans.TTF.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }  

*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: hidden;
    background: black;
    cursor: pointer;
}

.despair-message {
    visibility: visible;
    color: white;
}

/* TABLET */
@media only screen and (min-width: 768px) {

    .despair-message {
        visibility: hidden;
        display: none;
    }

    body {
        visibility: visible;
        background: linear-gradient(162deg, rgba(127,123,130,1) 11%, rgba(184,57,52,1) 35%, rgba(142,106,109,1) 60%, rgba(196,43,35,1) 76%, rgba(145,102,104,1) 82%, rgba(147,25,24,1) 100%);
        height: 100%;
        position: relative;
        background-repeat: no-repeat;

    }
    

    .drawing {
        display: flex;
        flex-direction: column;
        background-image: url("../images/backgrounds/floor.jpg");
        background-size: 50%;
        padding: 1em;
        margin-bottom: 1em;
        box-shadow: 0px 8px 5px 0px rgba(39, 39, 39, 0.5); 
          
    }

    .top_drawing {
        display: flex;
    }

    #canvas {
        border: 2px solid black;
        margin-top: 0.5em; 
        background-image: url("../images/hope-peak-academy.png");
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 10px -8px 1px 2px rgba(109, 19, 19, 0.5); 
        height: 500px;
        width: 500px;
        
    }

    .homeTablet_controls {
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
    }

    .homeTablet {
        color: white;
        /* margin-left: 80%; */
        font-size: 2em;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.5em;
        margin-right: 0.5em;
    }

    .homeTablet:hover {
        color: #f000c3;
        
    }

    .homeDesktop {
        display: none;
    }

    .controls {
        margin-top: 2em;
        margin-left: 0.8em;

        background: #333132;
        border: 2px solid white;
        position: relative;
        font-family: 'trebuc', sans-serif;
        font-size: 1.2em;
        color: white;
        border-radius: 15px;
    }

    .controls_front {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0.2em;  
    }

    .color-picker {
        margin-left: 1.5rem;
        margin-bottom: 1.5em;
    }

    .color_opac {
       width: 10rem;
    }

    .color-text {
        margin-bottom: 0.5em;
        margin-left: 0.5em;
    }

    .pen-text {
        margin-bottom: 0.3em;
        margin-left: 0.5em;
    }

    .pen_range {
        width: 12rem;
        margin-left: 0.5em;
    }

    .button {
        text-decoration: none;
        padding: 1rem;
        text-align: center;
        font-size: 1.2em;  
    }

    .button:active {
        transform: translateY(4px);
    }

    .erase {
        margin-top: 1em;
        background-color: pink;
        color: white;
        width: 10rem;
        align-self: center;
        border: 1px solid black;
        color: black;
        border-radius: 15px;
        padding: 0.5rem;
    }

    .undo-redo {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0.5em;
        margin: 10px;
        margin-top: 1em;
    }

    .undo, .redo {
        border-radius: 0.5rem;
    }

    .redo {
        background-color: black;
        color: white;
    }

    .download {
        background-color: none;
        background-image: url("../images/orange-bullet.png");
        height: 60px;
        
        background-repeat: no-repeat;
        background-position: center;
        background-size:100%;
        margin-top: 0.4em;
        margin-bottom: 0;
    }

    .download:active {
        transform: translateY(4px);
    }

    .downloadText {
        /* text-align: center; */
        /* border: 1px solid white; */
        margin-top: 0.8em;
        margin-left: 1.5em;
        width: 100px;
        color: black;
        font-size: 1.2em;  
    }

    .nameDrawingWord {
        display:flex
    }

    .name_pic {
        /* border: 1px solid green; */
        margin-top: .83em;
        height: 70px;
        width: 320px;
        background-color:white;
        color: black;
        font-family: 'DorBlue', sans-serif;
        font-size: 1.2em;
        padding-left: 0.5em;
        padding-bottom: 4em;
    }

    .drawingBlink {
        /* border: 1px solid blue; */
        margin-top: 0.98em;
        background-color: #218acc;
        border-radius: 0 30px 30px 0;
        height: 77.5px;
        width: 270px;
    }

    .painting {
        margin-top: 6%;
        text-align: center;
    }

    .painting p {
        text-transform: uppercase;
        color: white;
        font-family: 'GillSansMT-Condensed', sans-serif;
        font-size: 2em;
    }
 
    .horizontal_rule {
        border: 5px solid #4b0d0d;
        width: 80%;
        margin: auto; 
    }

    .gallery {
        display: grid;
        background: gray;
        grid-template-columns: repeat(4, auto);
        gap: 0.5em;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        padding: 1em;
        box-shadow: 0px 8px 5px 0px rgba(39, 39, 39, 0.5);

    }

    .gallery:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/hope-peak-academy.png");
        background-size: 250px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .22;
        
    }

    .image {
        border: 3px solid pink;
        margin: 5px;
        padding: 8px;
        position: relative;
    }

    /* Similar to highlight for desktop */
    .image:hover {
        border: 3px solid #f000c3;
        box-shadow: 8px 5px 10px gray;
    }

    .image ~ p {
        display: none;
        
    }

    .image-desktop {
        display: none;
    }

    .reset {
        /* border: 1px solid white; */
        margin-top: 0.5em; 
        background-color: #f44336;
        font-size: 1.5em;
        border-radius: 8px; 

    }

    .reset:active {
        
        transform: translateY(4px);
    }

    .reset:hover {
        color: white;
        /* transform: scale(1.1); */
    }


}

/* DESKTOP */
@media only screen and (min-width: 1260px) {

    /* #canvas {
        margin-left: 30%
    } */
    .top_drawing {
        /* margin-top: 1em; */
        top:0;
        right:0;
    }

    .homeTablet {
        display: none;
        position: absolute;
        top:0;
        right:0;    
    }

    .homeDesktop {
        display: block;
        color: black;
        font-size: 2em;
        text-decoration: none;
        font-family: 'trebuc';
        margin-left: 15rem;
        background-color: white;
        height: 60px;
        padding: 10px;
        position: absolute;
        top:0;
        right:0;
    }

    .homeDesktop:hover {
        color: white;
        background-color: black;
    }



    .controls {
        margin-left: 4rem;
    }

    .drawing {
        margin-left: auto;
    }

    .name_pic {
        width: 700px;
        height: 77.5px;
        padding-bottom: 0;
        margin-top: 0.56em;
    }

    .name_pic {
        font-size: 1.8rem;
    }

    .gallery {
        grid-template-columns: repeat(6, auto);

        padding-left: 8.5rem;
    }



    .image:hover {
        border: 3px solid #f000c3;
        box-shadow: 8px 5px 10px black;
    }

    .image-desktop {
        display: block;
    }
    
    .highlight {
        border: 4px solid #f000c3;
    }
}