/* DANGANRONPA NAMES FONT */
@font-face {
    font-family: 'DorBlue';
    src: url('../fonts/DorBlue.eot');
    src: url('../fonts/DorBlue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DorBlue.svg#DorBlue') format('svg'),
         url('../fonts/DorBlue.ttf') format('truetype'),
         url('../fonts/DorBlue.woff') format('woff'),
         url('../fonts/DorBlue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

/* DANGANRONPA DIALOGUE FONT */
@font-face {
    font-family: 'trebuc';
    src: url('../fonts/trebuc.eot');
    src: url('../fonts/trebuc.eot') format('embedded-opentype'),
         url('../fonts/trebuc.woff2') format('woff2'),
         url('../fonts/trebuc.woff') format('woff'),
         url('../fonts/trebuc.ttf') format('truetype'),
         url('../fonts/trebuc.svg#trebuc') format('svg');
}

/* DANGANRONPA TRIGGER BULLET FONT */
@font-face {
    font-family: 'PoorRichard';
    src: url('../fonts/PoorRichard.eot');
    src: url('../fonts/PoorRichard.eot') format('embedded-opentype'),
         url('../fonts/PoorRichard.woff2') format('woff2'),
         url('../fonts/PoorRichard.woff') format('woff'),
         url('../fonts/PoorRichard.ttf') format('truetype'),
         url('../fonts/PoorRichard.svg#PoorRichard') format('svg');
}

/* DANGANRONPA "PAINTING" FONT */
@font-face {
    font-family: '../fonts/GillSansMT-Condensed';
    src: url('../fonts/GillSansMT-Condensed.svg#GillSansMT-Condensed') format('svg'),
         url('../fonts/GillSansMT-Condensed.ttf') format('truetype'),
         url('../fonts/GillSansMT-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: '../fonts/gills-sans.TTF';
    src: url('../fonts/gills-sans.TTF.eot');
    src: url('../fonts/gills-sans.TTF.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }  

*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    cursor: pointer;
}

/* MOBILE FIRST */
.tabletUp {
    display: none;
}

.mobile {
    background: black;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 50% 0;
    padding-top: 2em;
}

.despair-message p {
    margin-top: 2em;
    
    font-size: 2rem;
    text-align: center;
    place-items: center;
    font-family: 'trebuc';
}

.catchphrase {
    margin-bottom: 1em;
}

.despair-image {
    margin-top: 3em;
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 250px;
    border: 2px solid white;
    display: flex;
    align-self: center;

}

.despair-image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/monokuma_gloomy_sunday.jpg");
    background-size: cover;
    background-position: 100%;
}

.colorBook {
    font-size: 2em;
    color:white;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    
    .mobile {
        display: none;
    }
    
    .despair-message {
        display: none;
    }

    body {
        background: linear-gradient(rgba(230, 100, 100, 0), #000000), url("../images/homepage/peak-academy.png") ;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: 50% 0;
        background-attachment: fixed;
    }

    /* NAVBAR */
    .topnav {
        background-color: black;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .topnav a {
        float: left;
        text-align: center;
        padding: 1em;
        text-decoration: none;
        font-size: 1.5em;
        color: white;
        font-family: 'trebuc'; 
    }

    .topnav-right a:hover {
        background-color: white;
        color: black;
        transform: scale(1.1);
    }

    .topnav a.active {
        background-color: white;
        color: black;
    }

    .topnav-right {
        float: right;
    }

    .lets-paint {
        border: 3px solid white;
        height: 100px;
        width: 500px;
        margin-top: 13em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        position: relative;
    }

    .lets, .paint {
        height: 100px;
        width: 250px;
        /* border: 1px solid green; */
        display: inline-block;
        font-family: 'DorBlue';
        text-align: center;
        padding: 0.8em;
        font-size: 2em;
  
    }

    .lets {
        color: black;
        background: white;
    }

    .paint {
        background: black;
    }

    
    .despair-image {
        margin-top: 3em;
        position: relative;
        margin: 0 auto;
        height: 150px;
        width: 250px;
        border: 2px solid white;
        display: flex;
        align-self: center;

    }

    .despair-image:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/backgrounds/monokuma_gloomy_sunday.jpg");
        background-size: cover;
        background-position: 100%;
    }
    
}