/* DANGANRONPA NAMES FONT */
@font-face {
    font-family: 'DorBlue';
    src: url('../fonts/DorBlue.eot');
    src: url('../fonts/DorBlue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DorBlue.svg#DorBlue') format('svg'),
         url('../fonts/DorBlue.ttf') format('truetype'),
         url('../fonts/DorBlue.woff') format('woff'),
         url('../fonts/DorBlue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

/* DANGANRONPA DIALOGUE FONT */
@font-face {
    font-family: 'trebuc';
    src: url('../fonts/trebuc.eot');
    src: url('../fonts/trebuc.eot') format('embedded-opentype'),
         url('../fonts/trebuc.woff2') format('woff2'),
         url('../fonts/trebuc.woff') format('woff'),
         url('../fonts/trebuc.ttf') format('truetype'),
         url('../fonts/trebuc.svg#trebuc') format('svg');
}

/* DANGANRONPA TRIGGER BULLET FONT */
@font-face {
    font-family: 'PoorRichard';
    src: url('../fonts/PoorRichard.eot');
    src: url('../fonts/PoorRichard.eot') format('embedded-opentype'),
         url('../fonts/PoorRichard.woff2') format('woff2'),
         url('../fonts/PoorRichard.woff') format('woff'),
         url('../fonts/PoorRichard.ttf') format('truetype'),
         url('../fonts/PoorRichard.svg#PoorRichard') format('svg');
}

/* DANGANRONPA "PAINTING" FONT */
@font-face {
    font-family: '../fonts/GillSansMT-Condensed';
    src: url('../fonts/GillSansMT-Condensed.svg#GillSansMT-Condensed') format('svg'),
         url('../fonts/GillSansMT-Condensed.ttf') format('truetype'),
         url('../fonts/GillSansMT-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: '../fonts/gills-sans.TTF';
    src: url('../fonts/gills-sans.TTF.eot');
    src: url('../fonts/gills-sans.TTF.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }  

*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    cursor: pointer;
}

/* MOBILE FIRST */

.tabletUp {
    display: none;
}

.mobile {
    background: black;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 50% 0;
    padding-top: 2em;
}

.despair-message p {
    margin-top: 2em;
    
    font-size: 2rem;
    text-align: center;
    place-items: center;
    font-family: 'trebuc';
}

.catchphrase {
    margin-bottom: 1em;
}

.despair-image {
    margin-top: 3em;
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 250px;
    border: 2px solid white;
    display: flex;
    align-self: center;

}

.despair-image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/monokuma_gloomy_sunday.jpg");
    background-size: cover;
    background-position: 100%;
}


/* TABLET */
@media only screen and (min-width: 768px) {
    
    .mobile {
        display: none;
    }
    
    .despair-message {
        display: none;
    }

    .tabletUp {
        display: block;
    }

    body {
        background: linear-gradient(rgba(230, 100, 100, 0), #000000), url("../images/homepage/peak-academy.png") ;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: 50% 0;
        background-attachment: fixed;
    }

    /* NAVBAR */
    .topnav {
        background-color: black;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    .topnav a {
        float: left;
        text-align: center;
        padding: 1em;
        text-decoration: none;
        font-size: 1.5em;
        color: white;
        font-family: 'trebuc'; 
    }

    .topnav-right a:hover {
        background-color: white;
        color: black;
        transform: scale(1.1);
    }

    .topnav a.active {
        background-color: white;
        color: black;
    }

    .topnav-right {
        float: right;
    }

    .lets-paint {
        /* border: 3px solid white; */
        height: 100px;
        width: 500px;
        margin-top: 13em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        position: relative;
        margin-bottom: 2rem;
    }

    .lets, .paint {
        height: 80px;
        width: 250px;
        /* border: 1px solid green; */
        display: inline-block;
        font-family: 'DorBlue';
        text-align: center;
        padding: 0.5em;
        font-size: 2em;
        text-transform: uppercase;

        font-weight: bold;

    }

    .lets {
        color: black;
        background: white;
        animation: slideInLeft 0.3s linear;
    }

    .paint {
        background: black;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: gray;
        animation: slideInRight 0.3s linear;
    }
    
    .danganronpa-logo {
        position: relative;
        margin: 0 auto;
        height: 150px;
        width: 500px;
        display: flex;
        align-self: center;
        margin-bottom: 5em;
        animation: flash 2s linear;
    }

    .danganronpa-logo:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/homepage/danganronpa-logo2.png");
        background-size: cover;
        background-position: 100%;
    }
    
    /* MOVING LEFT ANIMATION */
    /* Resource: https://codepen.io/hillse/pen/VWjEMy */
    @keyframes slideInLeft {
        0% {
            transform:translateX(-100%); 
            /* opacity: 0.1;   */
            }
        100% { 
            transform:translateX(0%); 
            /* opacity: 1;  */
            }
    }

    @keyframes slideInRight {
        0% {
            transform:translateX(100%); 
            /* opacity: 0.1;   */
            }
        100% { 
            transform:translateX(0%); 
            /* opacity: 1;  */
            }
    }

    /* FLASH IN */
    /* Resource: https://www.tutorialspoint.com/css/css_animation_flash.htm */
    @keyframes flash {
        0%, 50%, 100% {
           opacity: 1;
        }
        25%, 75% {
           opacity: 0;
        }
     }

    /* COLORING BOOK */
    .color-book {
        position: relative;
        margin: 0 auto;
        height: 3rem;
        width: 28.125rem;
        align-self: center;  
        font-family: 'trebuc';
        color: #fcd597;
        border-top: 3px solid #fcd597;
        border-bottom: 3px solid #fcd597;
        box-shadow: 0 0 20px #fd2a01;
        text-shadow: 0 0 15px #fd2a01;
        /* padding-top: 0.5em; */
        text-align: center;
        margin-bottom: 2em;
        font-size: 2.5em;
        font-style: italic;
    }

    .color-book:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: #fd2a01;
        background-size: cover;
        background-position: 100%;
        opacity: 0.45;
    }

    .color-book a {
        text-decoration: none;
        color: white;
        padding: 0.5em;
        position: relative;
    }


     /* NEWBIE MESSAGE SECTION */
    
    .newbie-message {
        position: relative;
        margin: 0 auto;
        height: 5.625rem;
        width: 28.125rem;
        display: flex;
        align-self: center;
        color: black;
        font-family: 'trebuc';
        margin-bottom: 6em;
    }

    /* SCROLL */
    /* Resource: https://blog.hubspot.com/website/css-fade-in */
    .toFadeIn {
        opacity: 0;        
    }

    .new {
        border: 2px solid #ffe200;
        position: relative;
        font-size: 1.2rem;
        box-shadow: 0 0 10px orange;
    }

    .new-tip {
        border: 2px solid #f000c3;
        position: relative;
        color: white;
        font-size: 1.2rem;

    }

    .new:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: white;
        background-size: cover;
        background-position: 100%;
        opacity: 0.65;
    }

    .new-tip:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: black;
        background-size: cover;
        background-position: 100%;
        opacity: 0.65;
    }

    .newbie-message p {
        padding: 0.5em;
        position: relative;
    }

    .dangan {
        font-family: 'DorBlue';
    } 

    .video {
        text-decoration: none;
        color: white;
    }

    .video:hover {
        color: #f000c3;
    }

    /* ABOUT SECTION */
    #about {
        position: relative;
        margin: 0 auto;
        height: 25rem;
        width: 35rem;
        display: flex;
        align-self: center;
        color: black;
        font-family: 'trebuc';
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .about-gallery {
        color: #4c4c4c;
        /* border: 2px solid #ffe200; */
        position: relative;
        font-size: 1.5rem;
        box-shadow: 0 0 10px black;
        font-weight: bold;
        width: 60%;
    }

    .about-summary {
        /* border: 2px solid #f000c3; */
        position: relative;
        color: white;
        font-size: 1.2rem;
    }

    .italicized {
        font-style: italic;
    }

    .about-gallery:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: #f3bc00;
        background-size: cover;
        background-position: 100%;
        /* opacity: 0.65; */
    }

    .about-summary:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: #312f32;
        background-size: cover;
        background-position: 100%;
        opacity: 0.65;
    }

    #about p {
        padding: 0.5em;
        position: relative;
    }

    /* "WHAT ELSE" SECTION */


    .what-else {
        /* position: absolute; */
        position: relative;
        margin: 0 auto;
        height: 35rem;
        width: 540px;
        display: flex;
        align-self: center;
        color: black;
        font-family: 'trebuc';
        flex-direction: column;
        margin-bottom: 4rem;
        border: 3px solid #f000c3;
        margin-top: -4em;
        padding: 2em;
        box-shadow: 0 0 10px violet;
    }

    .what-else:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        
        background-size: 250px;
        /* background-repeat: no-repeat; */
        background-position: center;
        background-image: url("../images/backgrounds/mintbean-monokuma.jpg");
        background-size: 50%;
        opacity: .65;
    }

    .what-else-list {
        border: 2px solid white;
        position: relative;
        color: white;
        font-size: 1.5rem;
        padding: 1em;
        height: 18.5em;
    }


    .what-else-list:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: #312f32;
        background-size: cover;
        background-position: 100%;
        opacity: 0.65;
    }

    .what-else ul {
        padding: 0.5em;
        position: relative;
    }

    .what-else ul li {
        margin-bottom: 1em;
    }

    .hope {
        color: #ffe200;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #aa7913;
        text-shadow: 0 0 5px orange; 
    }

    /* CONCAVE EFFECT */
    /* Resource: https://stackoverflow.com/questions/40738978/how-do-i-create-concave-shaped-borders-around-div-elements */

    .concave {
        position: relative;
        overflow: hidden;
        padding: 50px 0;
        width: 540px;
        margin: 0 auto;
        z-index: 2;
    }

    .concave p {
        font-family: 'trebuc';
        color: black;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }
      
    .what-else-header {  
        position: relative;
        background: #b3b3b3;
        height: 90px;
        /* border-top: 25px solid pink;
        border-bottom: 25px solid pink; */
    }
      
    .what-else-header:before,
    .what-else-header:after {
        box-shadow: 0 0 0 15px black;
        border-radius: 100%;
        position: absolute;
        height: 80px;  /* You can change height to increase or decrease concave radius */ 
        content: '';
        right: -20%;
        left: -20%;
        top: 100%;
        padding:2em;
        z-index: 2;
    }
    
    .what-else-header:after {
        bottom: 100%;
        top: auto;
    }

    .what-else-header p {
        padding: 0.6em;
        position: relative;
    }

    /* FOOTER */

    #contact {
        left: 0;
        bottom: 0;
        width: 100%;
        /* border: 1px solid violet; */

    }

    .footer-header {
        width: 30%;
        display: flex;
        
        font-size: 1.5em;
        /* border: 1px solid green; */
    }

    .checkerboard {
        width: 3em;
        height: 3em;
        /* border: 1px solid blue; */
        background-image: url("../images/backgrounds/contact-checkerboard.jpg");
        /* height: 60px; */
        
        background-repeat: no-repeat;
        background-position: center;
        background-size:100%;
        z-index: 2;
    }

    .bullet {
        font-size: 1.2em;
        font-family: 'PoorRichard';

        /* border: 1px solid orange; */
        width: 100%;
        
        background-color: none;
        background-image: url("../images/orange-bullet.png");
        /* height: 60px; */
        
        background-repeat: no-repeat;
        background-position: center;
        background-size:100%;
        /* background: */
        margin-left: -0.8em;
    }

    .bullet h2 {
        color: black;
        margin-left: 1em;
    }

    .contact-checker {
        position: relative;
        height: 8em;
       
    }

    .contact-checker:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        
        background-size: 250px;
        /* background-repeat: no-repeat; */
        background-position: center;
        background-image: url("../images/backgrounds/confrontation-floor.jpg");
        background-size: 20%;
        opacity: .65;
    }

    #contact p {
        font-size: 2em;
        font-family: 'DorBlue';
        color: #b48fd3;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #132aaa;
        text-shadow: 0 0 5px rgb(195, 0, 255); 
    }

    .contacts {
        width: 50%;
        border: 3px solid white;
        border-radius: 8px;
    }

    .contacts {
        position: relative;
    }

    .contacts:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-image: url("../images/homepage/danganronpa-logo2.png"); */
        background: #312f32;
        background-size: cover;
        background-position: 100%;
        opacity: 0.65; 
    }
    
    .social-icons {
        display: flex;
        border: 1px solid white;
        justify-content: space-between;
        width: 30%;
        font-size: 2em;
        border: grey;
        position: relative;

    }

    .contacts p {
        position: relative;
    }

    .icon {
        color: white;   
    }

    .icon:hover {
        color: #f000c3;
    }

    /* END BRACKET FOR TABLET */
}


/* DESKTOP */
@media only screen and (min-width: 1260px) {
    /* ABOUT SECTION */
    #about {
        width: 45rem;
    }

    .about-gallery {
        width: 50%;
    }
}